[Unit]
Description=Centrunk P25 TRS Service (VC)
After=syslog.target network.target

[Service]
User=root
Type=forking
ExecStart=/opt/centrunk/dvmhost/dvmhost -c /opt/centrunk/configs/configVC.yml
Restart=on-abnormal
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
